* {
  cursor: url("crosshair.svg"), auto;
}
a {
  cursor: url("crosshair_hover.svg"), auto;
  color: brown;
}

body {
  background: url("canyon.jpg") center center / cover no-repeat ;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("old_movie.png") center/cover no-repeat;
  opacity: 0.2;
}

.paper {
  background-image: url("old_paper.jpg");
}
