@import "tailwindcss";

@theme {
  --font-rye: "Rye", serif;
  --font-ewert: "Ewert", serif;
}

h1 {
  @apply font-ewert;
}

.effect {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: sepia(0.5);
  box-shadow: 0 0 30px black inset;
  pointer-events: none;
}

.overlay {
  height: 100%;
  filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
}

.overlay:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  background: repeating-linear-gradient(
    90deg,
    #0002 0 2px,
    transparent 4px 35vmin
  );
  animation: vlines 0.45s steps(1) infinite;
}

.overlay:after {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  opacity: 0.1;
  background-image: url("/public/grain.avif");
  background-repeat: repeat;
  animation: grains 0.5s steps(1) infinite;
}

@keyframes vlines {
  0%,
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
    opacity: 0.75;
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.5;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.25;
  }
  90% {
    transform: translateX(-2%);
  }
}

@keyframes grains {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-3%, -3%);
  }
}
